.container {
    font-family: sans-serif;
    margin: 0 auto;
    color: white;
    padding: 20px;
    width: 1000px;
    height: 800px;
    text-transform: capitalize;

    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr)200px;
    grid-template-rows: 1fr 2fr 4fr 1fr;
}

.container > * {
    background-color: royalblue;
    padding: 20px;
    font-size:20px;
  }

.header {
    grid-area: 1/1/2/-1;
}

/* .sbox {
} */

.main {
    grid-area: 3/1/4/4;
}

.side {
    grid-area: 2/4/4/5;
}

.footer {
    grid-area: 4/1/5/-1;
}